*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
}
form{
    margin: 10vw;
}
input{
    height: 2vw;
    width: 10vw;
    border: 1px solid red;
    /* background-color: black; */
    margin: .5vw;
}